<a href="https://colab.research.google.com/github/BarbaraLipinska24/Data_Science_Python-exercises/blob/main/ProjektML/Przewidywanie_cen_aut_u%C5%BCywanych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import numpy as np
import pandas as pd

cars_data=pd.read_excel('Car_sales_details.xlsx')

In [58]:
data=cars_data.copy()

In [48]:
data.head()

,Index,Price,Currency,Condition,Vehicle_brand,Vehicle_model,Vehicle_version,Vehicle_generation,Production_year,Mileage_km,...,Transmission,Type,Doors_number,Colour,Origin_country,First_owner,First_registration_date,Offer_publication_date,Offer_location,Features
0,0,86200,PLN,New,Abarth,595,NaN,NaN,2021,1.0,...,Manual,small_cars,3.0,gray,NaN,NaN,NaN,2021-05-04,"ul. Jubilerska 6 - 04-190 Warszawa, Mazowiecki...",NaN
1,1,43500,PLN,Used,Abarth,Other,NaN,NaN,1974,59000.0,...,Manual,coupe,2.0,silver,NaN,NaN,NaN,2021-05-03,"kanonierska12 - 04-425 Warszawa, Rembertów (Po...",NaN
2,2,44900,PLN,Used,Abarth,500,NaN,NaN,2018,52000.0,...,Automatic,small_cars,3.0,silver,NaN,NaN,NaN,2021-05-03,"Warszawa, Mazowieckie, Białołęka","ABS, Electric front windows, Drivers airbag, P..."
3,3,39900,PLN,Used,Abarth,500,NaN,NaN,2012,29000.0,...,Manual,small_cars,3.0,gray,NaN,NaN,NaN,2021-04-30,"Jaworzno, Śląskie","ABS, Electric front windows, Drivers airbag, P..."
4,4,97900,PLN,New,Abarth,595,NaN,NaN,2021,600.0,...,Manual,small_cars,3.0,blue,NaN,NaN,NaN,2021-04-30,"ul. Gorzysława 9 - 61-057 Poznań, Nowe Miasto ...","ABS, Electrically adjustable mirrors, Passenge..."

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208304 entries, 0 to 208303
Data columns (total 25 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    208304 non-null  int64
 1   Price                    208304 non-null  int64
 2   Currency                 208304 non-null  object
 3   Condition                208304 non-null  object
 4   Vehicle_brand            208304 non-null  object
 5   Vehicle_model            208304 non-null  object
 6   Vehicle_version          138082 non-null  object
 7   Vehicle_generation       147860 non-null  object
 8   Production_year          208304 non-null  int64
 9   Mileage_km               207321 non-null  float64
 10  Power_HP                 207661 non-null  float64
 11  Displacement_cm3         206338 non-null  float64
 12  Fuel_type                208304 non-null  object
 13  CO2_emissions            94047 non-null   float64
 14  Drive                    193228 non-null  object
 15  Transmission             207825 non-null  object
 16  Type                     208304 non-null  object
 17  Doors_number             206817 non-null  float64
 18  Colour                   208304 non-null  object
 19  Origin_country           118312 non-null  object
 20  First_owner              65094 non-null   object
 21  First_registration_date  86280 non-null   object
 22  Offer_publication_date   208304 non-null  datetime64[ns]
 23  Offer_location           208304 non-null  object
 24  Features                 194967 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(3), object(16)
memory usage: 39.7+ MB

In [50]:
data.isnull().sum()

Index                           0
Price                           0
Currency                        0
Condition                       0
Vehicle_brand                   0
Vehicle_model                   0
Vehicle_version             70222
Vehicle_generation          60444
Production_year                 0
Mileage_km                    983
Power_HP                      643
Displacement_cm3             1966
Fuel_type                       0
CO2_emissions              114257
Drive                       15076
Transmission                  479
Type                            0
Doors_number                 1487
Colour                          0
Origin_country              89992
First_owner                143210
First_registration_date    122024
Offer_publication_date          0
Offer_location                  0
Features                    13337
dtype: int64

In [59]:
data.drop('CO2_emissions', axis=1, inplace=True)
data.drop('First_owner', axis=1, inplace=True)
data.drop('First_registration_date', axis=1, inplace=True)
data.drop('Vehicle_version', axis=1, inplace=True)
data.drop('Vehicle_generation', axis=1, inplace=True)
data.drop('Origin_country', axis=1, inplace=True)
data.drop('Offer_location',axis=1,inplace=True)
data.drop('Features',axis=1,inplace=True)

In [60]:
data.isnull().sum()

Index                         0
Price                         0
Currency                      0
Condition                     0
Vehicle_brand                 0
Vehicle_model                 0
Production_year               0
Mileage_km                  983
Power_HP                    643
Displacement_cm3           1966
Fuel_type                     0
Drive                     15076
Transmission                479
Type                          0
Doors_number               1487
Colour                        0
Offer_publication_date        0
dtype: int64

In [61]:
data=data.dropna()

In [62]:
data.isnull().sum()

Index                     0
Price                     0
Currency                  0
Condition                 0
Vehicle_brand             0
Vehicle_model             0
Production_year           0
Mileage_km                0
Power_HP                  0
Displacement_cm3          0
Fuel_type                 0
Drive                     0
Transmission              0
Type                      0
Doors_number              0
Colour                    0
Offer_publication_date    0
dtype: int64

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189745 entries, 0 to 208300
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Index                   189745 non-null  int64
 1   Price                   189745 non-null  int64
 2   Currency                189745 non-null  object
 3   Condition               189745 non-null  object
 4   Vehicle_brand           189745 non-null  object
 5   Vehicle_model           189745 non-null  object
 6   Production_year         189745 non-null  int64
 7   Mileage_km              189745 non-null  float64
 8   Power_HP                189745 non-null  float64
 9   Displacement_cm3        189745 non-null  float64
 10  Fuel_type               189745 non-null  object
 11  Drive                   189745 non-null  object
 12  Transmission            189745 non-null  object
 13  Type                    189745 non-null  object
 14  Doors_number            189745 non-null  float64
 15  Colour                  189745 non-null  object
 16  Offer_publication_date  189745 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 26.1+ MB

In [64]:
data.head()

,Index,Price,Currency,Condition,Vehicle_brand,Vehicle_model,Production_year,Mileage_km,Power_HP,Displacement_cm3,Fuel_type,Drive,Transmission,Type,Doors_number,Colour,Offer_publication_date
0,0,86200,PLN,New,Abarth,595,2021,1.0,145.0,1400.0,Gasoline,Front wheels,Manual,small_cars,3.0,gray,2021-05-04
1,1,43500,PLN,Used,Abarth,Other,1974,59000.0,75.0,1100.0,Gasoline,Front wheels,Manual,coupe,2.0,silver,2021-05-03
3,3,39900,PLN,Used,Abarth,500,2012,29000.0,160.0,1368.0,Gasoline,Front wheels,Manual,small_cars,3.0,gray,2021-04-30
5,5,62950,PLN,Used,Abarth,595,2016,46060.0,180.0,1368.0,Gasoline,Front wheels,Manual,small_cars,3.0,gray,2021-04-30
7,7,69900,PLN,Used,Abarth,500,2019,20000.0,145.0,1368.0,Gasoline,Front wheels,Manual,small_cars,3.0,white,2021-04-29

In [65]:
data.drop('Condition', axis=1, inplace=True)
data.drop('Index', axis=1, inplace=True)

In [66]:
data.head()

,Price,Currency,Vehicle_brand,Vehicle_model,Production_year,Mileage_km,Power_HP,Displacement_cm3,Fuel_type,Drive,Transmission,Type,Doors_number,Colour,Offer_publication_date
0,86200,PLN,Abarth,595,2021,1.0,145.0,1400.0,Gasoline,Front wheels,Manual,small_cars,3.0,gray,2021-05-04
1,43500,PLN,Abarth,Other,1974,59000.0,75.0,1100.0,Gasoline,Front wheels,Manual,coupe,2.0,silver,2021-05-03
3,39900,PLN,Abarth,500,2012,29000.0,160.0,1368.0,Gasoline,Front wheels,Manual,small_cars,3.0,gray,2021-04-30
5,62950,PLN,Abarth,595,2016,46060.0,180.0,1368.0,Gasoline,Front wheels,Manual,small_cars,3.0,gray,2021-04-30
7,69900,PLN,Abarth,500,2019,20000.0,145.0,1368.0,Gasoline,Front wheels,Manual,small_cars,3.0,white,2021-04-29