<a href="https://colab.research.google.com/github/BarbaraLipinska24/Data_Science_Python-exercises/blob/main/ProjektML/Przewidywanie_cen_aut_u%C5%BCywanych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

cars_data=pd.read_excel('Car_sales_details.xlsx')

In [16]:
data=cars_data.copy()

In [4]:
data.head()

,Index,Price,Currency,Condition,Vehicle_brand,Vehicle_model,Vehicle_version,Vehicle_generation,Production_year,Mileage_km,...,Dual zone air conditioning,Factory radio,GPS navigation,Twilight sensor,LED lights,Fog lights,On-board computer,Front parking sensors,ESP,Lane assistant
0,0,86200,PLN,New,Abarth,595,NaN,NaN,2021,1.0,...,0,0,0,0,0,0,0,0,0,0
1,1,43500,PLN,Used,Abarth,Other,NaN,NaN,1974,59000.0,...,0,0,0,0,0,0,0,0,0,0
2,2,44900,PLN,Used,Abarth,500,NaN,NaN,2018,52000.0,...,0,1,0,0,0,0,1,0,0,0
3,3,39900,PLN,Used,Abarth,500,NaN,NaN,2012,29000.0,...,0,1,0,0,0,0,1,0,1,0
4,4,97900,PLN,New,Abarth,595,NaN,NaN,2021,600.0,...,0,1,0,0,0,0,1,0,1,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208304 entries, 0 to 208303
Data columns (total 50 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Index                            208304 non-null  int64
 1   Price                            208304 non-null  int64
 2   Currency                         208034 non-null  object
 3   Condition                        208304 non-null  object
 4   Vehicle_brand                    208304 non-null  object
 5   Vehicle_model                    208304 non-null  object
 6   Vehicle_version                  138082 non-null  object
 7   Vehicle_generation               147860 non-null  object
 8   Production_year                  208304 non-null  int64
 9   Mileage_km                       207321 non-null  float64
 10  Power_HP                         207661 non-null  float64
 11  Displacement_cm3                 206338 non-null  float64
 12  Fuel_type                        208304 non-null  object
 13  CO2_emissions                    94047 non-null   float64
 14  Drive                            193228 non-null  object
 15  Transmission                     207825 non-null  object
 16  Type                             208304 non-null  object
 17  Doors_number                     206817 non-null  float64
 18  Colour                           208304 non-null  object
 19  Origin_country                   118312 non-null  object
 20  First_owner                      65094 non-null   object
 21  First_registration_date          86280 non-null   object
 22  Offer_publication_date           208304 non-null  datetime64[ns]
 23  Offer_location.1                 208304 non-null  object
 24  Offer_location.2                 208304 non-null  object
 25  Features                         194967 non-null  object
 26  ABS                              208304 non-null  int64
 27  Central locking                  208304 non-null  int64
 28  CD                               208304 non-null  int64
 29  Automatic air conditionin        208304 non-null  int64
 30  Electric front windows           208304 non-null  int64
 31  Drivers airbag                   208304 non-null  int64
 32  Passengers airbag                208304 non-null  int64
 33  Bluetooth                        208304 non-null  int64
 34  Alarm                            208304 non-null  int64
 35  Pear parking sensors             208304 non-null  int64
 36  Manual air conditioning          208304 non-null  int64
 37  ASR                              208304 non-null  int64
 38  Electrically adjustable mirrors  208304 non-null  int64
 39  Rain sensor                      208304 non-null  int64
 40  Dual zone air conditioning       208304 non-null  int64
 41  Factory radio                    208304 non-null  int64
 42  GPS navigation                   208304 non-null  int64
 43  Twilight sensor                  208304 non-null  int64
 44  LED lights                       208304 non-null  int64
 45  Fog lights                       208304 non-null  int64
 46  On-board computer                208304 non-null  int64
 47  Front parking sensors            208304 non-null  int64
 48  ESP                              208304 non-null  int64
 49  Lane assistant                   208304 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(27), object(17)
memory usage: 79.5+ MB

In [6]:
data.isnull().sum()

Index                                   0
Price                                   0
Currency                              270
Condition                               0
Vehicle_brand                           0
Vehicle_model                           0
Vehicle_version                     70222
Vehicle_generation                  60444
Production_year                         0
Mileage_km                            983
Power_HP                              643
Displacement_cm3                     1966
Fuel_type                               0
CO2_emissions                      114257
Drive                               15076
Transmission                          479
Type                                    0
Doors_number                         1487
Colour                                  0
Origin_country                      89992
First_owner                        143210
First_registration_date            122024
Offer_publication_date                  0
Offer_location.1                        0
Offer_location.2                        0
Features                            13337
ABS                                     0
Central locking                         0
CD                                      0
Automatic air conditionin               0
Electric front windows                  0
Drivers airbag                          0
Passengers airbag                       0
Bluetooth                               0
Alarm                                   0
Pear parking sensors                    0
Manual air conditioning                 0
ASR                                     0
Electrically adjustable mirrors         0
Rain sensor                             0
Dual zone air conditioning              0
Factory radio                           0
GPS navigation                          0
Twilight sensor                         0
LED lights                              0
Fog lights                              0
On-board computer                       0
Front parking sensors                   0
ESP                                     0
Lane assistant                          0
dtype: int64

In [17]:
data.drop('CO2_emissions', axis=1, inplace=True)
data.drop('First_owner', axis=1, inplace=True)
data.drop('First_registration_date', axis=1, inplace=True)
data.drop('Vehicle_version', axis=1, inplace=True)
data.drop('Vehicle_generation', axis=1, inplace=True)
data.drop('Origin_country', axis=1, inplace=True)
data.drop('Features',axis=1,inplace=True)

In [18]:
data.isnull().sum()

Index                                  0
Price                                  0
Currency                             270
Condition                              0
Vehicle_brand                          0
Vehicle_model                          0
Production_year                        0
Mileage_km                           983
Power_HP                             643
Displacement_cm3                    1966
Fuel_type                              0
Drive                              15076
Transmission                         479
Type                                   0
Doors_number                        1487
Colour                                 0
Offer_publication_date                 0
Offer_location.1                       0
Offer_location.2                       0
ABS                                    0
Central locking                        0
CD                                     0
Automatic air conditionin              0
Electric front windows                 0
Drivers airbag                         0
Passengers airbag                      0
Bluetooth                              0
Alarm                                  0
Pear parking sensors                   0
Manual air conditioning                0
ASR                                    0
Electrically adjustable mirrors        0
Rain sensor                            0
Dual zone air conditioning             0
Factory radio                          0
GPS navigation                         0
Twilight sensor                        0
LED lights                             0
Fog lights                             0
On-board computer                      0
Front parking sensors                  0
ESP                                    0
Lane assistant                         0
dtype: int64

In [19]:
data=data.dropna()

In [20]:
data.isnull().sum()

Index                              0
Price                              0
Currency                           0
Condition                          0
Vehicle_brand                      0
Vehicle_model                      0
Production_year                    0
Mileage_km                         0
Power_HP                           0
Displacement_cm3                   0
Fuel_type                          0
Drive                              0
Transmission                       0
Type                               0
Doors_number                       0
Colour                             0
Offer_publication_date             0
Offer_location.1                   0
Offer_location.2                   0
ABS                                0
Central locking                    0
CD                                 0
Automatic air conditionin          0
Electric front windows             0
Drivers airbag                     0
Passengers airbag                  0
Bluetooth                          0
Alarm                              0
Pear parking sensors               0
Manual air conditioning            0
ASR                                0
Electrically adjustable mirrors    0
Rain sensor                        0
Dual zone air conditioning         0
Factory radio                      0
GPS navigation                     0
Twilight sensor                    0
LED lights                         0
Fog lights                         0
On-board computer                  0
Front parking sensors              0
ESP                                0
Lane assistant                     0
dtype: int64

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189576 entries, 0 to 208300
Data columns (total 43 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Index                            189576 non-null  int64
 1   Price                            189576 non-null  int64
 2   Currency                         189576 non-null  object
 3   Condition                        189576 non-null  object
 4   Vehicle_brand                    189576 non-null  object
 5   Vehicle_model                    189576 non-null  object
 6   Production_year                  189576 non-null  int64
 7   Mileage_km                       189576 non-null  float64
 8   Power_HP                         189576 non-null  float64
 9   Displacement_cm3                 189576 non-null  float64
 10  Fuel_type                        189576 non-null  object
 11  Drive                            189576 non-null  object
 12  Transmission                     189576 non-null  object
 13  Type                             189576 non-null  object
 14  Doors_number                     189576 non-null  float64
 15  Colour                           189576 non-null  object
 16  Offer_publication_date           189576 non-null  datetime64[ns]
 17  Offer_location.1                 189576 non-null  object
 18  Offer_location.2                 189576 non-null  object
 19  ABS                              189576 non-null  int64
 20  Central locking                  189576 non-null  int64
 21  CD                               189576 non-null  int64
 22  Automatic air conditionin        189576 non-null  int64
 23  Electric front windows           189576 non-null  int64
 24  Drivers airbag                   189576 non-null  int64
 25  Passengers airbag                189576 non-null  int64
 26  Bluetooth                        189576 non-null  int64
 27  Alarm                            189576 non-null  int64
 28  Pear parking sensors             189576 non-null  int64
 29  Manual air conditioning          189576 non-null  int64
 30  ASR                              189576 non-null  int64
 31  Electrically adjustable mirrors  189576 non-null  int64
 32  Rain sensor                      189576 non-null  int64
 33  Dual zone air conditioning       189576 non-null  int64
 34  Factory radio                    189576 non-null  int64
 35  GPS navigation                   189576 non-null  int64
 36  Twilight sensor                  189576 non-null  int64
 37  LED lights                       189576 non-null  int64
 38  Fog lights                       189576 non-null  int64
 39  On-board computer                189576 non-null  int64
 40  Front parking sensors            189576 non-null  int64
 41  ESP                              189576 non-null  int64
 42  Lane assistant                   189576 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(27), object(11)
memory usage: 63.6+ MB

In [24]:
data.drop('Offer_publication_date',axis=1,inplace=True)
data.drop('Offer_location.1',axis=1,inplace=True)
data.drop('Offer_location.2',axis=1,inplace=True)

In [ ]:
for col in ['size','color','gender','bought']:
    df[col]=df[col].astype('category')