<a href="https://colab.research.google.com/github/BarbaraLipinska24/Data_Science_Python-exercises/blob/main/NumPy/Numpy2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Sprawdź, czy wszystkie elementy z tablic A,B,C zwracają wartośc logiczną True wzdłuż osi o indeksie 1
import numpy as np


A = np.array([[3, 2, 1, 4],
              [5, 2, 1, 6]])

B = np.array([[3, 2, 1, 4],
              [5, 2, 0, 6]])

C = np.array([[True, False, False],
              [True, True, True]])

print('A:',np.all(A,axis=1))
print('B',np.all(B,axis=1))
print('C:',np.all(C,axis=1))

for name, array in zip(list('ABC'),[A,B,C]):
    print(f'{name}:{np.all(array,axis=1)}')

A: [ True  True]
B [ True False]
C: [False  True]
A:[ True  True]
B:[ True False]
C:[False  True]