<a href="https://colab.research.google.com/github/BarbaraLipinska24/Data_Science_Python-exercises/blob/main/NumPy/Numpy2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

11.Zbuduj jednowymiarową tablicę numpy składającą się z wszystkich liczb dwucyfrowych. Wydrukuj wynik do konsoli.

In [3]:
import numpy as np

print(np.arange(10,100))

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57
 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81
 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99]

12. PRzekształć powyższą tablicę do wymiaru 9x10

In [6]:
print(np.arange(10,100).reshape(9,10))

[[10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]
 [80 81 82 83 84 85 86 87 88 89]
 [90 91 92 93 94 95 96 97 98 99]]


13.Zbuduj dwuwymiarową tablicę numpy o kształcie 6x6 - macierz jednostkowa o typie danych int. Wydrukuj wynik do konsoli.

In [10]:
print(np.eye(6,dtype=int))

[[1 0 0 0 0 0]
 [0 1 0 0 0 0]
 [0 0 1 0 0 0]
 [0 0 0 1 0 0]
 [0 0 0 0 1 0]
 [0 0 0 0 0 1]]

14.Ustaw ziarno losowe na 10. Następnie zbuduj jednowymiarową tablicę numpy składającą się z 30 pseudolosowo wygenerowanych wartości z rozkładu jednostajnego na przedziale [0,1). Wydrukuj wynik do konsoli.

In [14]:
np.random.seed(10)
print(np.random.rand(30))

[0.77132064 0.02075195 0.63364823 0.74880388 0.49850701 0.22479665
 0.19806286 0.76053071 0.16911084 0.08833981 0.68535982 0.95339335
 0.00394827 0.51219226 0.81262096 0.61252607 0.72175532 0.29187607
 0.91777412 0.71457578 0.54254437 0.14217005 0.37334076 0.67413362
 0.44183317 0.43401399 0.61776698 0.51313824 0.65039718 0.60103895]

15.Ustaw ziarno losowe na 20. Następnie zbuduj dwuwymiarową tablicę numpy o kształcie (10, 4) z wygenerowanymi pseudolosowo wartościami ze standardowego rozkładu normalnego N(0,1).

In [18]:
np.random.seed(20)
print(np.random.randn(10,4))

[[ 0.88389311  0.19586502  0.35753652 -2.34326191]
 [-1.08483259  0.55969629  0.93946935 -0.97848104]
 [ 0.50309684  0.40641447  0.32346101 -0.49341088]
 [-0.79201679 -0.84236793 -1.27950266  0.24571517]
 [-0.0441948   1.56763255  1.05110868  0.40636843]
 [-0.1686461  -3.18970279  1.12013226  1.33277821]
 [-0.24333877 -0.13003071 -0.10901737  1.55618644]
 [ 0.12877835 -2.06694872 -0.88549315 -1.10457948]
 [ 0.93286635  2.059838   -0.93493796 -1.61299022]
 [ 0.52706972 -1.55110074  0.32961334 -1.13652654]]

16.Ustaw ziarno losowe na 30. Następnie zbuduj dwuwymiarową tablicę numpy o kształcie (10, 4) z wygenerowanymi pseudolosowo wartościami z rozkładu normalnego N(100, 5).

In [19]:
np.random.seed(30)
print(np.random.randn(10,4))

[[-1.26405266  1.52790535 -0.97071094  0.47055962]
 [-0.10069672  0.30379318 -1.72596243  1.58509537]
 [ 0.13429659 -1.10685547  1.57822555  0.10749794]
 [-0.76404783 -0.77518851  1.38384717  0.76038508]
 [-0.28564551  0.53836748 -2.08389663  0.93778171]
 [-0.005778   -0.46747897 -0.4230153   1.06448209]
 [-2.9033676   1.61689037  1.42550989 -0.66475512]
 [ 0.98501786 -1.70046527 -1.10014381 -1.31564409]
 [ 0.81050091 -1.04477837 -0.68922937 -0.85275686]
 [ 1.11347211 -1.92116972 -0.70140242  0.84908785]]